body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
}
hr{
	height: 2em;
}
.footer {
	padding: 2px;
	background: #eee;
clear:both;
}
